<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
<br>
<b><a href="/populateDB" th:href="@{/populateDB}">Populate DB</a></b>
<p>Inserted <span th:text="${paymentsSizeInserted}">X</span> paymentDummies </p>
<br>
<hr>
<b><a href="/sizeOfPayments" th:href="@{/sizeOfPayments}">Get size of paymentDummies</a></b>
<p>In DB total <span th:text="${paymentsSize}">___</span> paymentDummies </p>
<!--<p><b><a href="#" th:href="@{/test1}">Test1</a></b></p>-->
<!--<p><b><a href="#" th:href="@{/test1}">Test1</a></b></p>-->
<!--<p><b><a href="#" th:href="@{/test1}">Test1</a></b></p>-->
<!--<p><b><a href="#" th:href="@{/test1}">Test1</a></b></p>-->
<br>

<hr>
<br>
<b><a href="/populateDictDB" th:href="@{/populateDictDB}">Populate Dict</a></b>
<p>Inserted <span th:text="${dictSizeInserted}">X</span> dicts </p>
<br>

<hr>
<b><a href="/sizeOfDict" th:href="@{/sizeOfDict}">Get size of dictionaries</a></b>
<p>In DB total dictionaries = <span th:text="${dictSize}">___</span> dicts </p>


<hr>
<hr>
<b><a href="/testRepoMethods" th:href="@{/testRepoMethods}">Test REPOSITORY methods</a></b>

</body>
</html>